* {
    margin: 0;
    padding: 0;
    color: #333333
}

html,
body {
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 1.5em;
}

ul {
    padding-left: 1em;
    list-style: outside;
}

.mb_xs {
    margin-bottom: .25em;
}

.mb_s {
    margin-bottom: .5em;
}

.mb_m {
    margin-bottom: 1em;
}

body {
    background-color: #fefefe;
    font-family: 'Calibri', sans-serif;
    font-size: 1.2em;
}

aside {
    border-right: solid #d9d9d9 1px;
    padding: 64px 32px 32px 32px;
}

.mainInfo {
    position: fixed;
    width: 300px
}

.name {
    font-size: 2em;
}

.link {
    text-decoration: none;
    color: #3a3af0;
}

main {
    padding: 32px;
}

.wrapper {
    width: 1024px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    background-color: #f5f5f5;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.saveBtn {
    background-color: #dcdcdc;
    gap: 8px;
    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
}

.saveBtn:hover {
    background-color: #d6d6d6;
}

.icon {
    height: 24px;
    width: 24px;
    background-size: contain;
    background-image: url('./images/download.png');
}

@media print {
    body,
    html {
        display: block;
        height: 100%;
        overflow: visible;
    }

    .content {
        position: relative;
        display: block;
        height: auto;
        overflow: auto;
    }

    .wrapper {
        background-color: #fff;
        width: 21cm;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    aside {
        display: block;
        border: none;
        padding-bottom: 8px;
        padding-top: 24px;
    }

    main {
        padding-top: 0px;
    }

    .header {
        height: 0;
        visibility: hidden;
    }

    .mainInfo {
        position: relative;
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .introduction {
        grid-column: 1 / span 2;
        justify-content: start;
    }
}



@media screen and (max-height: 730px),
screen and (max-height: 730px) {
    .mainInfo {
        position: relative;
    }
}

@media screen and (max-width: 1023px){
    .wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #f5f5f5;
    }

    .mainInfo {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .introduction {
        grid-column: 1 / span 2;
        justify-content: start;
    }

    .header {
        position: absolute;
        top: 16;
        left: -32
    }

    aside {
        padding-bottom: 16px;
    }

    main {
        padding-top: 0px;
    }
}

@media screen and (max-width: 660px) {
    .mainInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        padding: 72px 16px 0 16px;
    }

    main {
        padding: 16px;
    }
}